.product{
    display: flex;
    border-bottom: 1px solid gray;
    padding: 20px 0;
}
.product-details{
    padding-left: 20px;
}
.product-name{
    color: blue;

}
.product-price{
    font-size: 22px;
    font-weight: 500;
}
.add-to-cart{
    background-color: gold;
    padding: 5px 20px;
    border-radius: 4px;
    border: 1px solid gray;
    cursor: pointer;
}
.cart-icon{
    margin-right: 10px;
}