.header img{
    height: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;
}
.header nav a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding: 5px;
}
.header nav a:hover{
    background-color: gray;
}